body {
    margin: 0;
    padding: 0;
}

.panel-dark {
    background-color: black;
    color: whitesmoke
}

.panel-light {
    background-color: whitesmoke;
    color: black
}

.button-dark {
    background-color: black;
    color: whitesmoke
}

.button-light {
    background-color: whitesmoke;
    color: black
}